<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.fablabsantiago.smartcities.app.appmobile"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_lebike_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name=".Deprecated.StartActivity"
            android:theme="@style/StartTheme">
        </activity>

        <activity android:name=".UI.LeBikeActivity"
                  android:label="LeBike"
                  android:theme="@style/LeBikeTheme"
                  android:parentActivityName=".Deprecated.StartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Deprecated.StartActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".UI.MisDestinosActivity"
            android:label="Mis Destinos"
            android:parentActivityName=".UI.LeBikeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.LeBikeActivity"/>
        </activity>

        <activity
            android:name=".Deprecated.OnRouteMapActivity"
            android:label="LeBike"
            android:parentActivityName=".UI.LeBikeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.LeBikeActivity"/>
        </activity>

        <activity
            android:name=".UI.EnRutaActivity"
            android:label="En Ruta"
            android:parentActivityName=".UI.LeBikeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.LeBikeActivity"/>
        </activity>

        <activity
            android:name=".Deprecated.LePatrimoniosActivity"
            android:label="LePatrimonios"
            android:theme="@style/LePatrimonios"
            android:parentActivityName=".Deprecated.StartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Deprecated.StartActivity"/>
        </activity>

        <activity
            android:name=".UI.MisAlertasActivity"
            android:label="Mis Alertas"
            android:theme="@style/MisAlertasActivityTheme"
            android:parentActivityName=".UI.LeBikeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UI.LeBikeActivity"/>
        </activity>

        <service android:name=".Services.TrackingService"/>
        <service android:name=".Services.UploadAlertasService"/>
    </application>

</manifest>

<!--
    -->