<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.fablabsantiago.smartcities.app.appmobile"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_lebike_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name="org.fablabsantiago.smartcities.app.appmobile.StartActivity"
            android:theme="@style/StartTheme">
        </activity>

        <activity android:name="org.fablabsantiago.smartcities.app.appmobile.LeBikeActivity"
                  android:label="LeBike"
                  android:theme="@style/LeBikeTheme"
                  android:parentActivityName="org.fablabsantiago.smartcities.app.appmobile.StartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fablabsantiago.smartcities.app.appmobile.StartActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="org.fablabsantiago.smartcities.app.appmobile.MisDestinosActivity"
            android:label="Mis Destinos"
            android:parentActivityName="org.fablabsantiago.smartcities.app.appmobile.LeBikeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fablabsantiago.smartcities.app.appmobile.LeBikeActivity"/>
        </activity>

        <activity
            android:name="org.fablabsantiago.smartcities.app.appmobile.OnRouteMapActivity"
            android:label="LeBike"
            android:parentActivityName="org.fablabsantiago.smartcities.app.appmobile.LeBikeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fablabsantiago.smartcities.app.appmobile.LeBikeActivity"/>
        </activity>

        <activity
            android:name=".EnRutaActivity"
            android:label="En Ruta"
            android:parentActivityName=".LeBikeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fablabsantiago.smartcities.app.appmobile.LeBikeActivity"/>
        </activity>

        <activity
            android:name="org.fablabsantiago.smartcities.app.appmobile.LePatrimoniosActivity"
            android:label="LePatrimonios"
            android:theme="@style/LePatrimonios"
            android:parentActivityName="org.fablabsantiago.smartcities.app.appmobile.StartActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fablabsantiago.smartcities.app.appmobile.StartActivity"/>
        </activity>

        <activity
            android:name=".MisAlertasActivity"
            android:label="Mis Alertas"
            android:theme="@style/MisAlertasActivityTheme"
            android:parentActivityName="org.fablabsantiago.smartcities.app.appmobile.LeBikeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.fablabsantiago.smartcities.app.appmobile.LeBikeActivity"/>
        </activity>

        <service android:name="org.fablabsantiago.smartcities.app.appmobile.EnRutaTrackingService" />
    </application>

</manifest>

<!--
    -->